.sample {
  display: grid;
  position: relative;
  background: white;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content demo";
}

.sample {
  border-bottom: var(--border-style);
}

.demo {
  grid-area: demo;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0px solid #555;
  box-sizing: border-box;
}

.sample>.demo {
  height: 100vh;
}

.sample pre {
  font-size: .8em;
  line-height: 1.6em;
  padding: var(--pre-padding);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.sample .quick-start-example pre {
  padding: 10px 15px;
}
